{% extends 'base.html' %}
{% block content %}

<h1>Video Game Details</h1>

<div class="card">
        <div class="card-content">
            <img src="" alt="">
            <span class="card-title">{{ videogame.title }}</span>
            <p>Genres: {{ videogame.genres }}</p>
            <p>Description: {{ videogame.description|linebreaks }}</p>
            <p>Developer: {{ videogame.developer }}</p>
            <p>Publisher: {{ videogame.publisher }}</p>
            <p>Release Date: {{ videogame.release_date }}</p>
            <p>Platforms: {{ videogame.platforms }}</p>
            <p>Date Played: {{ videogame.date }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'videogames_update' videogame.id %}">Edit</a>
            <a href="{% url 'videogames_delete' videogame.id %}">Delete</a>
        </div>
    </a>
</div>
<section class="reviews-section">
    <h2>Reviews</h2>
    <form action="{% url 'add_review' videogame.id %}" method="post">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit" class="btn">Add Review</button>
    </form>
    <br>
    {% if not videogame.reviews.all %}
        <p>No Reviews Yet</p>
    {% else %}
        {% for review in videogame.reviews.all %}
            <div class="card">
                <div class="card-content">    
                    <span class="card-title">{{ review.name }}</span>
                    {{ review.rating }} @ {{ review.date }}
                    <hr>
                    {{ review.comment }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>

<hr>
<div class="row">
  <div class="col s6">
    <h3>Collections</h3>
    {% if collection.games.count %}
      {% for collection in collection.games.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ videogame.title }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ videogame.title }} has not been added to any collections yet.</h5>
    {% endif %}
  </div>

<script>  
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}