{% extends 'base.html' %}
{% block content %}

<h1>Video Game Details</h1>

<div class="card">
        <div class="card-content">
            <img src="" alt="">
            <span class="card-title">{{ videogame.title }}</span>
            <p>Genres: {{ videogame.genres }}</p>
            <p>Description: {{ videogame.description|linebreaks }}</p>
            <p>Developer: {{ videogame.developer }}</p>
            <p>Publisher: {{ videogame.publisher }}</p>
            <p>Release Date: {{ videogame.release_date }}</p>
            <p>Platforms: {{ videogame.platforms }}</p>
            <p>Date Played: {{ videogame.date }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'videogames_update' videogame.id %}">Edit</a>
            <a href="{% url 'videogames_delete' videogame.id %}">Delete</a>
        </div>
    </a>
</div>

{% endblock %}