{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Games Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-extended">
    <nav class="navbar-extended">
      <div class="nav-wrapper nav-extended deep-purple lighten-2">
        <ul>
          <li><a href="{% url 'home' %}" class="brand-logo">Video Games Collector</a></li>
        </ul>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a href="{% url 'about' %}">About</a></li>
            <li class="tab"><a href="{% url 'collections_create' %}">Create a Collection</a></li>
            <li class="tab"><a href="{% url 'collections_index' %}">View All Collections</a></li>
            <li class="tab"><a href="{% url 'videogames_create' %}">Add a Video Game</a></li>
            <li class="tab"><a href="{% url 'videogames_index' %}">View All Video Games</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer deep-purple lighten-2">
    <div class="right">All Rights Reserved, &copy; 2023 Video Games Collector &nbsp;</div>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  // Initialize tabs?
  document.addEventListener('DOMContentLoaded', function() {
    var tabs = document.querySelectorAll('.tabs');
    M.Tabs.init(tabs);
  });
</script>
</body>
</html>